@{
    ViewData["isDashboard"] = true;
}


<div class="row mb-4">

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">

                <i class="fa-solid fa-hryvnia-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Income</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalIncome&nbsp;₴</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-hryvnia-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Expense</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalExpense&nbsp;₴</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-hryvnia-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Balance</span>
                <h1 class="display-6 fw-bold">
                    @ViewBag.Balance&nbsp;₴
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Expense By Category</h5>
                <ul class="list-group">
                    @if (ViewBag.DoughnutChartData != null)
                    {
                        foreach (var item in ViewBag.DoughnutChartData)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @item.categoryTitleWithIcon
                                <span>@item.amount&nbsp;₴</span>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">No data</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Income vs Expense</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Income</th>
                            <th>Expense</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.SplineChartData != null)
                        {
                            foreach (var item in ViewBag.SplineChartData)
                            {
                                <tr>
                                    <td>@item.day</td>
                                    <td>@item.income&nbsp;₴</td>
                                    <td>@item.expense&nbsp;₴</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">No data</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="p-4">
                <h5 class="fw-bold">Recent Transactions</h5>
            </div>
            <div class="px-4 pb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.RecentTransactions != null)
                        {
                            foreach (var tx in ViewBag.RecentTransactions)
                            {
                                <tr>
                                    <td>@tx.CategoryTitleWithIcon</td>
                                    <td>@string.Format("{0:MMM-dd-yy}", tx.Date)</td>
                                    <td class="text-end">@tx.FormattedAmount&nbsp;₴</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">No recent transactions</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
